.wqpn-wishlist-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px; /* Adjust as needed */
    padding: 5px;
    margin-bottom: 10px; /* Optional: add some padding for better spacing */
}

.wqpn-wishlist-button::before {
    display: inline-block;
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    margin-right: 8px; /* Adjust as needed */
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
}

.wqpn-wishlist-button.wqpn-wishlist-empty::before {
    background-image: url('../images/empty-wishlist.svg'); /* Adjust path as needed */
}
.wqpn-wishlist-button.wqpn-wishlist-full::before {
    background-image: url('../images/added-wishlist.svg'); /* Adjust path as needed */
}

.wqpn-wishlist-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.wqpn-wishlist-table-container {
    flex: 1;
    overflow-x: auto;
    width: 67%;
}

.wqpn-wishlist-table {
    width: 100%;
    border-collapse: collapse;
}

.wqpn-wishlist-table tbody tr {
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-bottom-color: transparent; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.wqpn-wishlist-table {

    border: none;
}
.wqpn-wishlist-table td {
    padding: 10px;
    text-align: center;
    border: none;
}

.wqpn-product-image img {
    max-width: 100px;
    height: auto;
}

.wqpn-wishlist-remove{
    max-width: 25px !important;
    max-height: 25px !important;
    cursor: pointer;
    margin: auto;
}


.wqpn-qty-input {
    width: 70px !important;
    text-align: center;
}

.wqpn-order-summary {
    width: 33%;
    border: 1px solid #ddd;
    padding: 20px;
}

.wqpn-order-summary h3 {
    margin-top: 0;
}

.wqpn-order-summary p {
    margin: 10px 0;
}

.wqpn-submit-price {
    background-color: #FFF;
    color: #161141;
    border: none;
    padding: 14px;
    width: 100%;
    cursor: pointer;
    border: solid 1px #161141;

}
.wqpn-submit-price:hover {
    background-color: #161141 !important;
    color: #FFF;
    border: none;
    padding: 14px;
    width: 100%;
    cursor: pointer;
    border: solid 1px #161141;

}

@media (max-width: 768px) {
    .wqpn-wishlist-container {
        flex-direction: column;
    }

    .wqpn-wishlist-table-container,
    .wqpn-order-summary {
        width: 100%;
    }
}
.wqpn-img{
    width: 100px !important;
    padding: 0px !important;
}
.wqpn-product-details{
    text-align: left !important;
    vertical-align: baseline;
    width: 320px !important ;
    padding-left: 10px;

}
.wqpn-product-remove,
.wqpn-product-qty{
    width: 120px !important ;
}
.wqpn-order-summary{
    font-weight: 700;
}
.wqpn-price-submit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.wqpn-price-submit-title {
    grid-column: span 2;
    text-align: center;
}

.wqpn-price-submit-grid div {
    padding: 5px;
}

#wqpn-price-submit {
    margin-top: 10px;
}
.status-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-node {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #f9f9f9;
}

.status-node.active {
    border-color: #0073aa;
    background-color: #e0f7fa;
}

.status-node svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.status-node.active svg {
    fill: #0073aa;
}
